body {
  margin: 0 auto;
}

/* .app {
  max-width: 1200px;
  display: flex;
  justify-content: center;
} */

.header, .main, .footer {
  height: 300px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
}

.information {
  height: 275px;
  width: 100%;
}

.header {
  background-color: #E9BBB5;
}

.main {
  background-color: #E7CBA9;
}

.footer {
  background-color: #8DA47E;
}